</head>

<body>
  <nav class="dashboard-nav">
    <a href="/shop/all">Shop</a>
    <a href="/dashboard">Dashboard</a>
    <h1 class="shoe">👟</h1>
    <a href="/dashboard/analytics/<%= user.profile._id %> ">Analytics</a>
    <a href="/reserved"><i class="fa-solid fa-bag-shopping"></i></a>
    <a class="log-out" href="/auth/logout">Logout</a>
  </nav>