</head>

<body>
  <nav class="dashboard-nav">
    <a href="/"><i class="fa-solid fa-house"></i></a>
    <a href="/shop/all">Shop</a>
    <a href="/dashboard">Dashboard</a>
    <% if (user) { %>
      <a href="shop/profiles/<%= user.profile._id %> "><i class="fa-solid fa-user"></i></a>
      <% } %>
        <a href="/dashboard/analytics/<%= user.profile._id %> ">Analytics</a>
        <a class="log-out" href="/auth/logout">Logout</a>
  </nav>