<div class="copywrite">
  <p>COPYRIGHT © <%= new Date().getFullYear() %> · <span>[</span><a href="/shop/profiles/622667a981bd7f26e72f7645">Zena
        Endrias </a> <span>]</span></p>
</div>
</body>

</html>