<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="icon" type="image/x-icon"
    href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuar5Ffn0RZZ2XKMx5Aoe80fhEKaeHItGDS_lGFLAWO17xzv2akBkMT68aueEqtxnplp8&usqp=CAU">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Courgette&family=Rajdhani:wght@300&display=swap');
  </style>

  <link rel="stylesheet" href="/stylesheets/style.css" />
  <% if (user) { %>
    <link rel="stylesheet" href="/stylesheets/dashboard.css" />
    <% } %>
      <title>
        <%= title %>
      </title>