<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= user.profile.name %>'s Dashboard
  </title>
  <%- include('../partials/html-head') %>
    <%- include('../partials/dashboardNav') %>


<body>
  <h1>Personal Dashboard Here</h1>
  <div>
    <h1>
      Welcome [ <%= user.profile.name.split(' ').splice(0,1)%>  ]
    </h1>
  </div>
  <a href="/shoes">Manage Products</a>
  <br>
  <br>
  <a href="dashboard/analytics">Analytics</a>
  <br>
  <div>
<h2>Manage Legal Pages</h2>
<a href="legal/termsofservice">Terms Of Service</a>
<a href="legal/privacypolicy">Privacy Policy</a>
<a href="legal/shipping">Shipping</a>
  </div>
  

</body>

</html>