<%- include('./partials/html-head') %>
  <link rel="stylesheet" href="/stylesheets/index.css" />
  <% if (user) { %>
    <%- include('./partials/dashboardNavIndex') %>
      <% } else { %>
        <%- include('./partials/nav') %>
          <% } %>
            <section>
              <div class="hero-image">
                <div class="hero-text">
                  <h3>Trust The Process</h3>
                  <p>Duck Duck Shoe</p>
                  <form action="/shop/all" method="GET">
                    <button class="shop-now">Shop Now</button>
                  </form>
                </div>
              </div>
            </section>
            <%- include('./partials/footer') %>