*{
  margin: 0;
  padding: 0;
}

nav{
  margin: 10px;
  width: auto;
}

.welcome-message{
  display: flex;
  margin: 40px 15px;
  word-spacing: 30px;
  border: 3px solid rgb(219, 219, 219);
  padding: 20px;
  align-items: center;
  justify-content: space-evenly;
}

i.fa-thin{
  font-size: 50px;
}

span{
  color: #00B7FF;
}

.welcome-message > h1 > a {
  color: black;
  font-size: 60px;
  text-decoration: none;
  letter-spacing: 5px;
}

#listings{
  display: inline;
  font-size: 60px;
  letter-spacing: 5px;
}

.log-out{
  padding: 5px;
  background-color: #00B7FF;
  border-radius: 7px;
  color: white;
}

.log-out:hover{
  color: #00B7FF;
  background-color: white;
  border: solid 1px  #00B7FF,
}