*{
  margin: 0;
  padding: 0;
}

.welcome-message{
  /* text-align: center; */
  margin: 40px 15px;
  word-spacing: 30px;
  border: 3px solid black;
  /* border-bottom: 1px solid black; */
  padding: 10px;
}

.welcome-message > h1 > a {
  color: black;
  font-size: 40px;
  text-decoration: none;
  letter-spacing: 5px;
}