*{
  margin: 0;
  padding: 0;
}

.welcome-message{
  display: flex;
  margin: 40px 15px;
  word-spacing: 30px;
  border: 3px solid black;
  padding: 10px;
  align-items: center;
  justify-content: space-evenly;
}
.fa-solid{
  font-size: 40px;
}

.welcome-message > h1 > a {
  color: black;
  font-size: 40px;
  text-decoration: none;
  letter-spacing: 5px;
}