body{
  background-color: white;
  text-align: center;
}

.profile-img{
  border-radius: 50%;
  width: 30vh;
}

.profile-listings{
  width:27vw;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content: center;
  margin: 10px;
  /* border: lightgray 1px solid; */
  align-items: center;
}

.profile-listings a {
  color: black;
  font-size: 25px;
  text-decoration: none;
}

.shoe-name{
  text-align: center;
  margin-left: 2vw;
}

.total-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.policies{
  display: flex;
  justify-content: center;
  padding: 3vw;
  flex-wrap: wrap;
align-items: center;
border-bottom: #ebebeb 1px solid;
border-top: #ebebeb 1px solid;
}

.policies  a{
margin: 0 5vw;
text-decoration: none;
padding: 5px;
background-color: #00B7FF;
color: white;
border: white 1px solid;
border-radius: 7px;
transition: .25s ease-in-out;
}

.policies  a:hover{
background-color: white;
border: 1px solid #00B7FF;
color: #00B7FF;
}

.reserved-shoes{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.reserved-shoes a {
  color: black;
  text-decoration: none;
  font-size: 25px;
}