html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: rgb(255, 255, 255);
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  margin: 0;
}

nav {
  background-color: white;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 3.6rem;
}
html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
    font-size: 62.5%
}

body {
  background-color: rgb(255, 255, 255);
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: 'Rajdhani', sans-serif;
  margin: 0;
}

nav {
  background-color: white;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 3.6rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.4rem;
}

ul {
  list-style-type: none;
}

p, label, li, button, input {
  font-size: 1.8rem;
}

label {
  font-weight: bold;
}

section {
  padding: 50px;
}

a {
  color: #00B7FF;
}

pre {
  font-size: 1.4rem;
}

nav > a {
  margin: 1rem 3rem;
  text-decoration: none;
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  margin: 1.6rem 0;
}

.link {
  padding: 1rem 0;
  font-size: 1.8rem;
  display: inline-block;
}

.profile-avatar {
  margin-top: 50px;
}


.profile-pic{
  border-radius: 50%;
}

a{
  font-size: 20px;
}

.dashboard-nav{
/* border: #00B7FF solid 2px; */
/* border-radius: 10px; */
/* width: 100%; */
display: flex;
align-items: center;
justify-content: space-evenly;
}

.all-listing-image{
  width: 150px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.product-cards{
  width: auto;
  margin: 10px;
  border-radius: 10px;
  padding: 5px 5px 0 5px;
  text-align: center;
}

.listing-img{
  width: 400px;
}

table th {
  text-align: left;
  background-color: #00B7FF ;
  color: white;
  padding: 5px 35px 5px 10px;
}

table td {
  border: 1px solid lightgray;
  padding: 5px 10px;
}

table{
  border-collapse: collapse;
  font-size: 20px;
}

table tr:nth-child(odd) td {
  background-color: lightgray;
}

.analytics-container{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.title{
  text-align: center;
}

.reservations, .views-table{
  text-align: center;
}

.total-stats{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-bottom: 25vh;
}

.copywrite{
  height: fit-content;
  /* background: linear-gradient( rgba(245, 245, 245, 0), #baebff); */
  display: flex;
  justify-content: right;
  align-items: flex-end;
  position:fixed;
  left: 0;
  bottom: 0 ;
  width: 100%;
  z-index: 1;
}

.copywrite span {
  color: #0090c9;
}

image{
  z-index: -1;
}

.copywrite a {
  color:black;
  text-decoration: none;
}


textarea{
  border: 2px lightgrey solid;
  resize: none;
  padding: 7px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 10px;
  background-color: rgb(243, 243, 243);
}

.policy-page{
  background-color: white;
}
.policy-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: 10px;
}

.policy-flex > div{
  margin-bottom: 10px;
}

.button{
  text-align: center;
}

.button > button {
  background-color: #00B7FF;
  border: #0090c9 1px solid;
  color:white;
  padding: 5px;
  border-radius: 5px;
  transition: .25s ease-in-out;
}

.button > button:hover {
  background-color: #ffffff;
  color:#0090c9;
}

.new-input{
  width: 50vw;
  margin: 20px;
  height: 40px;
  border-radius: 15px;
  border: 1px #00B7FF solid;
  padding: 5px 10px;
}

.new-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}