<%- include('../partials/html-head') %>
  <%- include('../partials/dashboardNav') %>


    <body>
      <h1>Add A Shoe!</h1>
      <form action="/shoes/create" method="POST">
        <label for="name">Shoe Name</label>
        <input type="text" name="name" required placeholder="Product Name">
        <br>
        <label for="price">Set A Price</label>
        <input type="Number" name="price" required placeholder="$">
        <br>
        <label for="size">Available Sizes</label>
        <input name="size" type="text" required placeholder="Separate Each Size With A Comma">
        <br>
        <label for="image">Product Image Link</label>
        <input type="text" name="image" required placeholder="URL Only">
        <br>
        <h3>Brief Description</h3>
        <textarea id="description" name="description" rows="9" cols="80"
          placeholder="A Great Description Boosts Reservations By 47%!"></textarea>
        <br>
        <!-- <input type="number" hidden name="views" value="0"> -->
        <button>Create Listing!</button>
      </form>
    </body>

    </html>