<%- include('../partials/html-head') %>
  <% if (user) { %>
    <%- include('../partials/dashboardNav') %>
      <% } else { %>
        <%- include('../partials/nav') %>
          <% } %>

            <body>
              <h1>Shop Here</h1>
              <a href="/shop/all">View All Listings</a>
              <%- include('../partials/footer') %>