<%- include('../partials/html-head') %>
  <% if (user) { %>
    <%- include('../partials/dashboardNav') %>
      <% } else { %>
        <%- include('../partials/nav') %>
          <% } %>

            <body>
              <form action="/legal/privacy/<%= user.profile._id %>" method="POST">
                <h3>Write Your Privacy Policy Below</h3>
                <textarea name="privacyPolicy" id="privacy" cols="50" rows="10" placeholder="Here!"></textarea>
                <br>
                <button type="submit">Submit</button>
                <br>
                <h3>Write Your Terms Of Service Below</h3>
                <textarea name="termsOfService" id="termsOfService" cols="50" rows="10" placeholder="Here!"></textarea>
                <br>
                <h3>Shipping Policy</h3>
                <textarea name="shipping" id="shipping" cols="50" rows="10" placeholder="Here!"></textarea>
              </form>
            </body>

            </html>