<%- include('../partials/html-head') %>
  <% if (user) { %>
    <%- include('../partials/dashboardNav') %>
      <% } else { %>
        <%- include('../partials/nav') %>
          <% } %>

            <body>
              <h1>Privacy Policy</h1>

              <h3>
                Manage Privacy Policy
              </h3>

              <p>
                <% if(profile.siteSetting) {%>

                  <% } else { %>
                    <h3>Create Your Privacy Policy!</h3>
                    <% } %>
              </p>
              <a href="/legal/privacypolicy/new/<%= profile._id %> ">Here</a>
            </body>

            </html>