<%- include('../partials/html-head') %>
  <%- include('../partials/nav') %>

    <body>
      <h1>The Duck Duck Shoe Brand</h1>
      <p>This shoe website was founded in Washington DC, by a brilliant & good looking scholar, Zena Endrias.
        The site implements full CRUD functionality and is build using the MEN stack.</p>
      <br>
      <p>Users have the ability to browse through listings created by other users, create their own
        listings and reserve listing that interest them. In addition this application provides users analytics data.
        This means users are aware of the traction each of their listing is generating, and then make
        listing decisions based on that.</p>

    </body>

    </html>